<div class="container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">
    <div class="row">
      <div class="col-12 mt-4">
        <p class="company-info">{{ 'general.general.company_info_html' | t }}</p>
      </div>
    </div>
</div>