{%- assign item = section.settings -%}

<div class="container-indent {% if item.ct_top_margin %}mt-0 mt-md-3{% endif %}">
  
  {% include "product_page_1_gallery" type: "mobile" %}
  
  {% include "product_page_heading" %}
  
  {% include "product_page_2_gallery" type: item.gallery_type %}

  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-2 sticky-product-info" id="booking">
        {% include "product_page_2_description" %}
      </div>
      <div class="col-md-7 order-md-1">
        <div class="row">
          <div class="col-12">
            {%- include "product_page_details" -%}
          </div>
          <div class="col-12">
            {% if item.full_width_description == "design_tabs_in_column_gallery" %}{% include "product_page_tabs" %}{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>